@import 'common.css';

.Title{
	position: fixed;
	top: 33.33%;
    left: 8px;
	width: 25%;
    height: 33.33%;
	outline: 2px solid black;
	background-color: brown;
	
	/* justify-content: center;
    align-items: center; */
}

