@import 'common.css';

.unit {
    width:70px;
    height: 60px;
}

.body_circle {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 50px;
    border: 1px solid rgb(15, 9, 34);
    background-color: rgb(155, 153, 154);
    border-radius: 45%;
}

.life_circle_wrapper {
    position: absolute;
    top : 30px;
    left: 28px;
}

.life_circle {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: rgb(201, 66, 66);
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.attack_circle_wrapper {
    position: absolute;
    top : 30px;
    left: -10px;
}


.attack_circle {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: rgb(184, 143, 218);
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.value {
    font-size: 13px;
    word-break:break-all;
    font-family: 'DiabloFont';
}

